In [2]:
import pandas as pd

dictionnaire = {
    'marque': ["BMW", "Volvo", "Ford", "Toyota"],
    'gamme': ["luxe", "haut de gamme", "compacte", "citadine"],
    'vitesse_max': [210, 160, 120, 130],
    'nbre_sieges': [5, 7, 4, 5],
    'longueur': [3000, 2750, 2000, 2500],
    'annee_sortie': [2014, 2020, 2009, 2015],
    'motorisation': ["essence", "essence", "bio-ethanol", "diesel"],
    'prix €' : [65000, 56750, 12500, 32000]
}

mon_df = pd.DataFrame(dictionnaire)
display(mon_df)

,marque,gamme,vitesse_max,nbre_sieges,longueur,annee_sortie,motorisation,prix €
0,BMW,luxe,210,5,3000,2014,essence,65000
1,Volvo,haut de gamme,160,7,2750,2020,essence,56750
2,Ford,compacte,120,4,2000,2009,bio-ethanol,12500
3,Citroen,citadine,130,5,2500,2015,diesel,32000

In [ ]:
# Partie dictionnaire
# Question 1
length_sup_1000 = mon_df[mon_df["longueur"] > 1000]
display(length_sup_1000)

# Question 2
max_speed_160 = mon_df[mon_df["vitesse_max"] <= 160]
display(max_speed_160)

# Question 3
seats_5 = mon_df[(mon_df["nbre_sieges"] > 5) & (mon_df["longueur"] < 2000)]
display(seats_5)

# Question 4
compact = mon_df[(mon_df["gamme"] == "compacte")][["gamme"]]
display(compact)

# Question 5
prix_motorisation = mon_df[["dprix €", "motorisation"]]
display(prix_motorisation)

,marque,gamme,vitesse_max,nbre_sieges,longueur,annee_sortie,motorisation,prix €
0,BMW,luxe,210,5,3000,2014,essence,65000
1,Volvo,haut de gamme,160,7,2750,2020,essence,56750
2,Ford,compacte,120,4,2000,2009,bio-ethanol,12500
3,Citroen,citadine,130,5,2500,2015,diesel,32000

,marque,gamme,vitesse_max,nbre_sieges,longueur,annee_sortie,motorisation,prix €
1,Volvo,haut de gamme,160,7,2750,2020,essence,56750
2,Ford,compacte,120,4,2000,2009,bio-ethanol,12500
3,Citroen,citadine,130,5,2500,2015,diesel,32000

Empty DataFrame
Columns: [marque, gamme, vitesse_max, nbre_sieges, longueur, annee_sortie, motorisation, prix €]
Index: []

      gamme
2  compacte

   prix € motorisation
0   65000      essence
1   56750      essence
2   12500  bio-ethanol
3   32000       diesel

In [ ]:
import pandas as pd
import numpy as np

# Pour avoir un peu plus de données, nous allons charger un fichier csv, le fichier "liste_voitures.csv", 
# ça sera plus simple pour la lisibilité
# Les lignes pour importer ce fichier seront expliquée dans la partie suivante
# Les clés restent
voitures_df = pd.read_csv("../ressources/pandas-et-numpy/liste_voitures.csv", sep=",", encoding="utf-8").set_index('modele')

# Affiche toutes les clés de notre DataFrame
#display(voitures_df.columns.values.tolist())
display(voitures_df)
# voitures_df.dtypes

,modele,marque,gamme,vitesse_max km/h,longueur (mm),motorisation,annee_sortie,prix €
nbre_sieges,,,,,,,,
2,AMG,BMW,supercars,270,4500,essence,2010,65000
7,XC60,Volvo,SUV,160,4150,essence,2011,56750
4,Ka,Ford,compacte,120,2400,bio-ethanol,2020,12500
5,Cactus,Citroen,berline,130,2500,diesel,2002,32000
2,iq,Toyota,compacte,130,1950,hybride non rechargeable,2014,12000
...,...,...,...,...,...,...,...,...
5,Fluence,Renault,compacte,210,4350,essence,2017,21500
7,XC90,Volvo,SUV,230,4953,électrique,2024,97500
5,V60,Volvo,break,220,4778,Hybride rechargeable,2024,50100
7,Land Cruiser,Toyota,4x4,230,5130,diesel,2025,85100
2,GR Supra,Toyota,supercars,250,4379,essence,2019,65000

In [3]:
# Contient tous les véhicules dont la longueur est supérieure à 1 000
length_sup_1000 = voitures_df[voitures_df["longueur (mm)"] > 1000]
display(length_sup_1000)

,marque,gamme,vitesse_max km/h,nbre_sieges,longueur (mm),motorisation,annee_sortie,prix €
modele,,,,,,,,
AMG,BMW,supercars,270,2,4500,essence,2010,65000
XC60,Volvo,SUV,160,7,4150,essence,2011,56750
Ka,Ford,compacte,120,4,2400,bio-ethanol,2020,12500
Cactus,Citroen,berline,130,5,2500,diesel,2002,32000
iq,Toyota,compacte,130,2,1950,hybride non rechargeable,2014,12000
...,...,...,...,...,...,...,...,...
Fluence,Renault,compacte,210,5,4350,essence,2017,21500
XC90,Volvo,SUV,230,7,4953,électrique,2024,97500
V60,Volvo,break,220,5,4778,Hybride rechargeable,2024,50100
Land Cruiser,Toyota,4x4,230,7,5130,diesel,2025,85100
GR Supra,Toyota,supercars,250,2,4379,essence,2019,65000

In [ ]:
# Contient tous les véhicules dont la vitesse max est inférieure ou égale à 160
max_speed_160 = voitures_df[voitures_df["vitesse_max"] <= 160]
display(max_speed_160)

In [4]:
# Contient tous les véhicules dont le nombre de sièges est strictement supérieur à 5 et de marque Volvo
seats_5 = voitures_df[(voitures_df["nbre_sieges"] > 5) & (voitures_df["marque"] == "Volvo")]
display(seats_5)

,marque,gamme,vitesse_max km/h,nbre_sieges,longueur (mm),motorisation,annee_sortie,prix €
modele,,,,,,,,
XC60,Volvo,SUV,160,7,4150,essence,2011,56750
XC90,Volvo,SUV,230,7,4953,électrique,2024,97500

In [ ]:
# Contient uniquement les véhicules de la gamme "compacte" et les Series "marque" et "longueur"
compact = voitures_df[(voitures_df["gamme"] == "compacte")][["gamme", "longueur (mm)"]]
display(compact)

            gamme  longueur (mm)
modele
Ka       compacte           2400
iq       compacte           1950
Corolla  compacte           3800
Yaris    compacte           3100
Clio     compacte           2850
C1       compacte           2950
Twingo   compacte           2900
206      compacte           3950
Aygo     compacte           3000
Modus    compacte           3950
Zoé      compacte           3100
Sandero  compacte           3850
500      compacte           3850
3        compacte           3850
Leaf     compacte           3950
500e     compacte           3500
i3       compacte           3450
Fiesta   compacte           3450
Ami      compacte           2000
Rio      compacte           4000
Série 1  compacte           4100
Micra    compacte           3950
Focus    compacte           4100
Fluence  compacte           4350

In [9]:
# Contient uniquement les Series "prix", "annee_sortie" et "motorisation"

voitures_df[["prix €", "annee_sortie", "motorisation"]]

              prix €  annee_sortie              motorisation
modele
AMG            65000          2010                   essence
XC60           56750          2011                   essence
Ka             12500          2020               bio-ethanol
Cactus         32000          2002                    diesel
iq             12000          2014  hybride non rechargeable
...              ...           ...                       ...
Fluence        21500          2017                   essence
XC90           97500          2024                électrique
V60            50100          2024      Hybride rechargeable
Land Cruiser   85100          2025                    diesel
GR Supra       65000          2019                   essence

[69 rows x 3 columns]

- Contient tous les véhicules ayant une motorisation "hybride"
- Contient tous les véhicules sortis après 2015
- Contient tous les véhicules avec une nouvelle Serie (colonne) appelée "vitesse_max m/h" et comme valeur la vitesse_max de chaque véhicule en miles/heure en valeur entière

In [11]:
# Contient tous les véhicules ayant une motorisation "hybride"

res = voitures_df[voitures_df["annee_sortie"] > 2015]

res

,marque,gamme,vitesse_max km/h,nbre_sieges,longueur (mm),motorisation,annee_sortie,prix €
modele,,,,,,,,
Ka,Ford,compacte,120,4,2400,bio-ethanol,2020,12500
RAV4,Toyota,SUV,210,5,3500,hybride non rechargeable,2019,45000
Enzo,Ferrari,supercars,340,2,2750,essence,2020,280000
S,Tesla,berline,240,5,2950,électrique,2021,105000
X,Tesla,berline,220,7,4100,électrique,2020,140000
Corolla,Toyota,compacte,200,5,3800,hybride non rechargeable,2020,35000
Civic,Honda,berline,210,5,4000,essence,2021,45000
Yaris,Honda,compacte,200,5,3100,hybride non rechargeable,2018,12000
Clio,Renault,compacte,250,5,2850,électrique,2017,13000
LaFerrari,Ferrari,supercars,350,2,4750,essence,2016,1000000
Taycan,Porsche,supercars,280,2,4350,essence,2018,180000
911,Porsche,supercars,310,2,4000,essence,2018,105000
3008,Peugeot,SUV,200,5,4230,essence,2016,25000
Mustang,Ford,coupé,240,5,4350,essence,2017,75000
Aygo,Toyota,compacte,210,4,3000,hybride non rechargeable,2016,12000
CLS,Mercedes,berline,300,5,3980,essence,2022,48000
X1,BMW,SUV,310,5,4100,essence,2021,52000
Captur,Renault,SUV,310,5,3950,essence,2016,25000
Zoé,Renault,compacte,210,5,3100,électrique,2018,16520
Roma,Ferrari,berline,300,5,5200,essence,2016,210000
Stonic,Kia,SUV,250,5,4250,essence,2016,35600
Niro,Kia,berline,260,5,3950,électrique,2017,41200
Kadjar,Renault,SUV,240,5,3750,essence,2018,43500
3,Mazda,compacte,250,5,3850,essence,2018,36000
500e,Fiat,compacte,210,5,3500,électrique,2020,38500
i3,BMW,compacte,240,5,3450,électrique,2018,56000
Fiesta,Ford,compacte,220,5,3450,essence,2017,25000
Ami,Citroen,compacte,180,2,2000,électrique,2020,15000
Micra,Nissan,compacte,190,5,3950,essence,2020,20700
Fluence,Renault,compacte,210,5,4350,essence,2017,21500
XC90,Volvo,SUV,230,7,4953,électrique,2024,97500
V60,Volvo,break,220,5,4778,Hybride rechargeable,2024,50100
Land Cruiser,Toyota,4x4,230,7,5130,diesel,2025,85100
GR Supra,Toyota,supercars,250,2,4379,essence,2019,65000

In [15]:
# Contient tous les véhicules avec une nouvelle Serie (colonne) appelée "vitesse_max m/h" et comme valeur la vitesse_max de chaque véhicule en miles/heure
miles = voitures_df.copy()
miles["vitesse_max m/h"] = np.floor(voitures_df["vitesse_max km/h"] * 0.621371).astype('int')
# display(miles)

# Contient le nombre de voiture de la gamme "compacte"
nb_compact = voitures_df[voitures_df["gamme"] == "compacte"]
display(len(nb_compact))

# Contient la somme des longueurs des voitures
nb_sum = voitures_df["longueur (mm)"].sum()
display(nb_sum)

annee_avec_plus_sorties = voitures_df["annee_sortie"].mode()
display(annee_avec_plus_sorties)

24

268280

0    2014
dtype: int64

In [26]:
# Contient la vitesse moyenne (en km/h) des véhicules par gamme
display(voitures_df[voitures_df["gamme"] == "supercars"])
vit_moyenne = voitures_df.groupby(['gamme'])["vitesse_max km/h"].mean().reset_index()
vit_moyenne

,marque,gamme,vitesse_max km/h,nbre_sieges,longueur (mm),motorisation,annee_sortie,prix €
modele,,,,,,,,
GR Supra,Toyota,supercars,250,2,4379,essence,2019,65000

        gamme  vitesse_max km/h
0         4x4        230.000000
1         SUV        243.333333
2     berline        243.125000
3       break        220.000000
4    compacte        214.166667
5       coupé        240.000000
6   supercars        250.000000
7  supercars         295.000000

In [17]:
# Contient le prix moyen des véhicules par année de sortie
mean_price_year = voitures_df.groupby(['annee_sortie', "gamme"])["prix €"].median().reset_index() 
mean_price_year

    annee_sortie       gamme   prix €
0           2002     berline    32000
1           2006    compacte    15000
2           2009     berline    30000
3           2009  supercars    205000
4           2010     berline    25620
5           2010    compacte    18000
6           2010  supercars     65000
7           2011         SUV    56750
8           2011    compacte    23500
9           2011  supercars    190000
10          2012         SUV    42530
11          2012     berline    35600
12          2012  supercars     68000
13          2013     berline    26000
14          2014         SUV    34050
15          2014     berline    35060
16          2014    compacte    18250
17          2015         SUV    42800
18          2015     berline    23050
19          2015    compacte    24500
20          2016         SUV    25000
21          2016     berline   210000
22          2016    compacte    12000
23          2016  supercars   1000000
24          2017     berline    41200
25          2017    compacte    21500
26          2017       coupé    75000
27          2018         SUV    43500
28          2018    compacte    26260
29          2018  supercars    142500
30          2019         SUV    45000
31          2019   supercars    65000
32          2020     berline   140000
33          2020    compacte    20700
34          2020  supercars    280000
35          2021         SUV    52000
36          2021     berline    75000
37          2022     berline    48000
38          2024         SUV    97500
39          2024       break    50100
40          2025         4x4    85100

In [60]:
voitures_df["decade_sortie"] = voitures_df["annee_sortie"] // 10 * 10

# On affiche la colonne "marque" et la nouvelle colonne "decade_sortie"
# Par exemple 2014 deviendra 2010 dans la colonne "decade_sortie"
display(voitures_df[["marque", "decade_sortie"]])

               marque  decade_sortie
modele
AMG               BMW           2010
XC60            Volvo           2010
Ka               Ford           2020
Cactus        Citroen           2000
iq             Toyota           2010
...               ...            ...
Focus            Ford           2010
Fluence       Renault           2010
XC90            Volvo           2020
V60             Volvo           2020
Land Cruiser   Toyota           2020

[68 rows x 2 columns]